### Run this cell before you start to load the necessary libraries and define functions.

In [ ]:
import numpy as np
import pandas as pd
from sklearn import model_selection as ms
import sklearn

### Open the dataset with Pandas, define the cells with '?' as NaN

In [ ]:
df = pd.read_csv('chronic_kidney_disease.csv')
df = df.replace('?', np.nan)
df.head(5)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.020,1,0,NaN,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4,0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

### Write numeric and categorical columns in the dataset as a list. Create the categorical, numeric and target DataFrames.

In [ ]:
col_num = ['age','bp','bgr','bu','sc','sod','pot','hemo','pcv','wc','rc'] #list
col_cat = ['sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad',
           'appet', 'pe', 'ane'] #list
col_tar = 'class' #string

df_num = df[col_num]
df_cat = df[col_cat]
y = df[col_tar]

### Fill in the missing data (if any) in the numeric DataFrame for each column with the average value of that column. Normalize each column in the DataFrame to min-max within itself.

In [ ]:
df[col_num] = df[col_num].astype(float)
df_num = df_num.astype(float)

In [ ]:
for c in df_num:
    if df_num[c].isna().sum()>0:
        df_num[c].fillna(df_num[c].mean(),inplace=True)
df_num.head(10)

,age,bp,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
0,48.0,80.000000,121.000000,36.0,1.2,137.528754,4.627244,15.4,44.0,7800.000000,5.200000
1,7.0,50.000000,148.036517,18.0,0.8,137.528754,4.627244,11.3,38.0,6000.000000,4.707435
2,62.0,80.000000,423.000000,53.0,1.8,137.528754,4.627244,9.6,31.0,7500.000000,4.707435
3,48.0,70.000000,117.000000,56.0,3.8,111.000000,2.500000,11.2,32.0,6700.000000,3.900000
4,51.0,80.000000,106.000000,26.0,1.4,137.528754,4.627244,11.6,35.0,7300.000000,4.600000
5,60.0,90.000000,74.000000,25.0,1.1,142.000000,3.200000,12.2,39.0,7800.000000,4.400000
6,68.0,70.000000,100.000000,54.0,24.0,104.000000,4.000000,12.4,36.0,8406.122449,4.707435
7,24.0,76.469072,410.000000,31.0,1.1,137.528754,4.627244,12.4,44.0,6900.000000,5.000000
8,52.0,100.000000,138.000000,60.0,1.9,137.528754,4.627244,10.8,33.0,9600.000000,4.000000
9,53.0,90.000000,70.000000,107.0,7.2,114.000000,3.700000,9.5,29.0,12100.000000,3.700000

In [ ]:
df_num2 = df_num.copy()

for i in df_num2:
    count=0
    mn = df_num2[i].min()
    mx = df_num2[i].max()
    for j in df_num2[i]:
        jnew = (j-mn)/(mx-mn)
        df_num2[i][count]=jnew
        count+=1

df_num2.head()

,age,bp,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
0,0.522727,0.230769,0.211538,0.088575,0.010582,0.839298,0.047803,0.836735,0.777778,0.231405,0.525424
1,0.056818,0.000000,0.269309,0.042362,0.005291,0.839298,0.047803,0.557823,0.644444,0.157025,0.441938
2,0.681818,0.230769,0.856838,0.132221,0.018519,0.839298,0.047803,0.442177,0.488889,0.219008,0.441938
3,0.522727,0.153846,0.202991,0.139923,0.044974,0.671924,0.000000,0.551020,0.511111,0.185950,0.305085
4,0.556818,0.230769,0.179487,0.062901,0.013228,0.839298,0.047803,0.578231,0.577778,0.210744,0.423729

### Fill in the missing data (if any) in the Categorical DataFrame for each column with the most frequently repeated value in that column.

In [ ]:
for c in df_cat:
    if df_cat[c].isna().sum()>0:
        df_cat[c].fillna(df_cat[c].mode()[0],inplace=True)
df_cat.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,sg,al,su,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane
0,1.020,1,0,normal,normal,notpresent,notpresent,yes,yes,no,good,no,no
1,1.020,4,0,normal,normal,notpresent,notpresent,no,no,no,good,no,no
2,1.010,2,3,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes
3,1.005,4,0,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes
4,1.010,2,0,normal,normal,notpresent,notpresent,no,no,no,good,no,no

### Apply encoding to the columns in the Categorical DataFrame. You can apply any method you want here. You can replace values like yes/no as 1/0; you can apply one-hot encoding to those that need it. Or you can apply one-hot encoding to all of them.

In [ ]:
df2 = df_cat
df2.head()

,sg,al,su,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane
0,1.020,1,0,normal,normal,notpresent,notpresent,yes,yes,no,good,no,no
1,1.020,4,0,normal,normal,notpresent,notpresent,no,no,no,good,no,no
2,1.010,2,3,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes
3,1.005,4,0,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes
4,1.010,2,0,normal,normal,notpresent,notpresent,no,no,no,good,no,no

In [ ]:
sg_dum = pd.get_dummies(df2)
sg_dum.head()

,sg_1.005,sg_1.010,sg_1.015,sg_1.020,sg_1.025,al_0,al_1,al_2,al_3,al_4,...,dm_no,dm_yes,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes
0,0,0,0,1,0,0,1,0,0,0,...,0,1,1,0,1,0,1,0,1,0
1,0,0,0,1,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
2,0,1,0,0,0,0,0,1,0,0,...,0,1,1,0,0,1,1,0,0,1
3,1,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,1
4,0,1,0,0,0,0,0,1,0,0,...,1,0,1,0,1,0,1,0,1,0

### Combine the Numeric and Categorical DataFrames with axis=1 to create the feature (X) DataFrame.

In [ ]:
X = pd.concat([df_num,sg_dum],axis=1)
print(X.isna().sum().sum()) # should be 0
X.head()

0

,age,bp,bgr,bu,sc,sod,pot,hemo,pcv,wc,...,dm_no,dm_yes,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes
0,48.0,80.0,121.000000,36.0,1.2,137.528754,4.627244,15.4,44.0,7800.0,...,0,1,1,0,1,0,1,0,1,0
1,7.0,50.0,148.036517,18.0,0.8,137.528754,4.627244,11.3,38.0,6000.0,...,1,0,1,0,1,0,1,0,1,0
2,62.0,80.0,423.000000,53.0,1.8,137.528754,4.627244,9.6,31.0,7500.0,...,0,1,1,0,0,1,1,0,0,1
3,48.0,70.0,117.000000,56.0,3.8,111.000000,2.500000,11.2,32.0,6700.0,...,1,0,1,0,0,1,0,1,0,1
4,51.0,80.0,106.000000,26.0,1.4,137.528754,4.627244,11.6,35.0,7300.0,...,1,0,1,0,1,0,1,0,1,0

### Replace the values in y as notckd:0, ckd:1.

In [ ]:
vals = {'notckd':0,'ckd':1}
y = y.replace(vals)
y.head() # should only be 0 or 1.

0    1
1    1
2    1
3    1
4    1
Name: class, dtype: int64

### Apply train-test split to x and y with a test rate of 30%.
### Create the data X_train, X_test, y_train, y_test.

In [ ]:
X_train, X_test, y_train, y_test = ms.train_test_split(X,y,test_size=0.3,)

### Below is a function that predicts with Gaussian Naive Bayes and outputs the results.
### Add confusion matrix to the output of this function. The output should be as follows:
`(y_true,y_pred,y_proba,conf_mat)`

In [ ]:
liste = []
liste.clear()
liste

[]

In [ ]:
#sklearn.naive_bayes.GaussianNB
from sklearn.naive_bayes import GaussianNB

def predict_gnb(X_train,X_test,y_train,y_test):

    clf = GaussianNB()
    clf.fit(X_train,y_train)
    x = clf.score(X_test,y_test)

    y_proba = clf.predict_proba(X_test)
    y_pred = clf.predict(X_test)

    y_true = y_test

    conf_mat1 = sklearn.metrics.confusion_matrix(y_true,y_pred)
    liste.append(conf_mat1)

    return (y_true,y_pred,y_proba,conf_mat1,x)

predict_gnb(X_train,X_test,y_train,y_test)

(262    0
 155    1
 253    0
 194    1
 247    1
 213    1
 99     1
 30     1
 8      1
 13     1
 40     1
 151    1
 394    0
 370    0
 353    0
 342    0
 264    0
 7      1
 236    1
 80     1
 20     1
 156    1
 104    1
 296    0
 387    0
 120    1
 134    1
 103    1
 364    0
 166    1
       ..
 173    1
 365    0
 385    0
 211    1
 294    0
 268    0
 265    0
 270    0
 196    1
 397    0
 124    1
 138    1
 379    0
 362    0
 279    0
 378    0
 48     1
 323    0
 9      1
 337    0
 125    1
 373    0
 169    1
 228    1
 333    0
 389    0
 188    1
 71     1
 321    0
 233    1
 Name: class, Length: 120, dtype: int64,
 array([0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
        1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1], dtype=int64),
 array([[1.00000000e+000, 1.74862224e-030],
        [1.25805097e-210, 1.00000000e+000],
        [1.00000000e+000, 2.62111089e-034],
        [1.29866080e-247, 1.00000000e+000],
        [7.11578052e-272, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [4.07254642e-114, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [4.32832795e-290, 1.00000000e+000],
        [1.45565337e-193, 1.00000000e+000],
        [8.71964880e-165, 1.00000000e+000],
        [1.00000000e+000, 3.70877308e-029],
        [1.00000000e+000, 1.94490278e-031],
        [1.00000000e+000, 4.68866155e-030],
        [1.00000000e+000, 2.54379151e-032],
        [1.00000000e+000, 2.33956351e-030],
        [0.00000000e+000, 1.00000000e+000],
        [3.33443870e-225, 1.00000000e+000],
        [2.07921895e-140, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [4.13304681e-189, 1.00000000e+000],
        [9.38318922e-222, 1.00000000e+000],
        [1.00000000e+000, 1.26358903e-031],
        [1.00000000e+000, 5.92862436e-035],
        [5.01371603e-294, 1.00000000e+000],
        [1.03176286e-253, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [1.00000000e+000, 7.51087418e-033],
        [4.52471565e-161, 1.00000000e+000],
        [1.15693956e-130, 1.00000000e+000],
        [1.00000000e+000, 4.29823180e-035],
        [0.00000000e+000, 1.00000000e+000],
        [3.76410514e-248, 1.00000000e+000],
        [2.20898404e-064, 1.00000000e+000],
        [5.17074112e-008, 9.99999948e-001],
        [1.00000000e+000, 8.78254417e-036],
        [1.97812299e-135, 1.00000000e+000],
        [2.11743778e-130, 1.00000000e+000],
        [4.55833193e-080, 1.00000000e+000],
        [1.20793861e-211, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [1.00000000e+000, 2.45668968e-035],
        [1.00000000e+000, 2.14088621e-030],
        [1.99178756e-065, 1.00000000e+000],
        [3.77883010e-129, 1.00000000e+000],
        [7.08682469e-249, 1.00000000e+000],
        [1.00000000e+000, 7.35419267e-031],
        [3.77604780e-296, 1.00000000e+000],
        [1.00000000e+000, 5.16695259e-034],
        [1.00000000e+000, 3.24250328e-033],
        [2.54458803e-251, 1.00000000e+000],
        [1.00000000e+000, 3.04884006e-032],
        [1.71484427e-124, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [2.05835226e-159, 1.00000000e+000],
        [0.00000000e+000, 1.00000000e+000],
        [1.00000000e+000, 3.69184129e-030],
        [6.13424747e-196, 1.00000000e+000],
        [1.00000000e+000, 1.39677114e-028],
        [1.00000000e+000, 1.48426192e-030],
        [2.58857296e-318, 1.00000000e+000],
        [1.00000000e+000, 2.04954130e-035],
        [1.74773636e-223, 1.00000000e+000],
        [1.00000000e+000, 4.81054136e-032],
        [1.47197577e-151, 1.00000000e+000],
        [3.69094941e-151, 1.00000000e+000],
        [1.53994522e-135, 1.00000000e+000],
        [4.97786220e-162, 1.00000000e+000],
        [6.86414644e-089, 1.00000000e+000],
        [8.76489744e-132, 1.00000000e+000],
        [1.67638462e-248, 1.00000000e+000],
        [1.00000000e+000, 8.90578223e-032],
        [0.00000000e+000, 1.00000000e+000],
        [5.70004296e-187, 1.00000000e+000],
        [1.00000000e+000, 4.17732963e-031],
        [0.00000000e+000, 1.00000000e+000],
        [3.08707798e-130, 1.00000000e+000],
        [2.04956890e-141, 1.00000000e+000],
        [2.75177999e-206, 1.00000000e+000],
        [1.00000000e+000, 3.16524227e-031],
        [4.34091259e-095, 1.00000000e+000],
        [1.00000000e+000, 3.80691535e-034],
        [0.00000000e+000, 1.00000000e+000],
        [1.00000000e+000, 1.01023022e-034],
        [1.00000000e+000, 8.22610698e-035],
        [0.00000000e+000, 1.00000000e+000],
        [1.13484970e-184, 1.00000000e+000],
        [1.00000000e+000, 1.37534120e-031],
        [1.00000000e+000, 3.74715578e-032],
        [1.27842785e-157, 1.00000000e+000],
        [1.00000000e+000, 9.57881231e-029],
        [1.00000000e+000, 5.83066834e-032],
        [1.35637799e-008, 9.99999986e-001],
        [1.00000000e+000, 1.76042356e-029],
        [1.00000000e+000, 3.83607054e-031],
        [1.00000000e+000, 2.48620423e-030],
        [1.00000000e+000, 6.32416963e-034],
        [0.00000000e+000, 1.00000000e+000],
        [1.00000000e+000, 6.94193543e-032],
        [3.61302773e-082, 1.00000000e+000],
        [3.63972796e-065, 1.00000000e+000],
        [1.00000000e+000, 1.74613808e-034],
        [1.00000000e+000, 7.43548222e-033],
        [1.00000000e+000, 2.37206721e-035],
        [1.00000000e+000, 8.48845588e-033],
        [5.05031721e-196, 1.00000000e+000],
        [1.00000000e+000, 5.13313265e-034],
        [0.00000000e+000, 1.00000000e+000],
        [1.00000000e+000, 1.43156594e-035],
        [1.57324629e-180, 1.00000000e+000],
        [1.00000000e+000, 1.41382611e-033],
        [2.58751431e-261, 1.00000000e+000],
        [2.17070090e-036, 1.00000000e+000],
        [1.00000000e+000, 7.82723364e-032],
        [1.00000000e+000, 1.35686109e-035],
        [1.00000000e+000, 2.06102514e-024],
        [5.10834058e-206, 1.00000000e+000],
        [1.00000000e+000, 2.44813936e-030],
        [1.79868866e-182, 1.00000000e+000]]),
 array([[48,  0],
        [ 1, 71]], dtype=int64),
 0.9916666666666667)

### Prepare the same function (with confusion matrix) for Decision Tree as you modified above:

In [ ]:
#sklearn.tree.DecisionTreeClassifier
from sklearn import tree

def predict_dt(X_train,X_test,y_train,y_test):
    clf = tree.DecisionTreeClassifier()
    clf.fit(X_train,y_train)
    x = clf.score(X_test,y_test)

    y_proba = clf.predict_proba(X_test)
    y_pred = clf.predict(X_test)

    y_true = y_test

    conf_mat2 = sklearn.metrics.confusion_matrix(y_true,y_pred)
    liste.append(conf_mat2)

    return (y_true,y_pred,y_proba,conf_mat2,x)

predict_dt(X_train,X_test,y_train,y_test)

(262    0
 155    1
 253    0
 194    1
 247    1
 213    1
 99     1
 30     1
 8      1
 13     1
 40     1
 151    1
 394    0
 370    0
 353    0
 342    0
 264    0
 7      1
 236    1
 80     1
 20     1
 156    1
 104    1
 296    0
 387    0
 120    1
 134    1
 103    1
 364    0
 166    1
       ..
 173    1
 365    0
 385    0
 211    1
 294    0
 268    0
 265    0
 270    0
 196    1
 397    0
 124    1
 138    1
 379    0
 362    0
 279    0
 378    0
 48     1
 323    0
 9      1
 337    0
 125    1
 373    0
 169    1
 228    1
 333    0
 389    0
 188    1
 71     1
 321    0
 233    1
 Name: class, Length: 120, dtype: int64,
 array([0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
        1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
        0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 1, 0, 1], dtype=int64),
 array([[1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.]]),
 array([[45,  3],
        [ 2, 70]], dtype=int64),
 0.9583333333333334)

### Prepare the same function (with confusion matrix) for KNN as you modified above:

In [ ]:
#sklearn.neighbors.KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

def predict_knn(X_train,X_test,y_train,y_test,k=1):
    clf = KNeighborsClassifier(n_neighbors=k)
    clf.fit(X_train,y_train)
    x = clf.score(X_test,y_test)

    y_proba = clf.predict_proba(X_test)
    y_pred = clf.predict(X_test)

    y_true = y_test

    conf_mat3 = sklearn.metrics.confusion_matrix(y_true,y_pred)
    liste.append(conf_mat3)

    return (y_true,y_pred,y_proba,conf_mat3,x)

predict_knn(X_train,X_test,y_train,y_test)

(262    0
 155    1
 253    0
 194    1
 247    1
 213    1
 99     1
 30     1
 8      1
 13     1
 40     1
 151    1
 394    0
 370    0
 353    0
 342    0
 264    0
 7      1
 236    1
 80     1
 20     1
 156    1
 104    1
 296    0
 387    0
 120    1
 134    1
 103    1
 364    0
 166    1
       ..
 173    1
 365    0
 385    0
 211    1
 294    0
 268    0
 265    0
 270    0
 196    1
 397    0
 124    1
 138    1
 379    0
 362    0
 279    0
 378    0
 48     1
 323    0
 9      1
 337    0
 125    1
 373    0
 169    1
 228    1
 333    0
 389    0
 188    1
 71     1
 321    0
 233    1
 Name: class, Length: 120, dtype: int64,
 array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
        1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 1, 0, 1], dtype=int64),
 array([[1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.]]),
 array([[41,  7],
        [15, 57]], dtype=int64),
 0.8166666666666667)

### Write the function that extracts performance metrics from confusion matrix

In [ ]:
def performance_metrics(cm):
    tp = cm[0][0]
    fp = cm[1][0]
    tn = cm[1][1]
    fn = cm[0][1]
    accuracy = (tp + tn) / (tp+fp+tn+fn)
    precision = tp / (tp + fp)
    tpr = tp / (tp + fn)
    fpr = fp / (fp + tn)

    return accuracy, precision, tpr, fpr

### Create confusion matrices for each classifier and print the results with the performance_metrics function.
### For KNN, try K = 1,3,5,7 separately.
#### For SVM, try 'poly', 'rbf', 'sigmoid', 'precomputed' kernels separately.
#### * For each classifier, print the name of the classifier before printing the results on the screen.

In [ ]:
performance_metrics(liste[0]),performance_metrics(liste[1]),performance_metrics(liste[2])

((0.9916666666666667, 0.9795918367346939, 1.0, 0.013888888888888888),
 (0.9583333333333334, 0.9574468085106383, 0.9375, 0.027777777777777776),
 (0.8166666666666667,
  0.7321428571428571,
  0.8541666666666666,
  0.20833333333333334))

In [ ]:
#KNN1
knn1 = predict_knn(X_train,X_test,y_train,y_test,k=1)[-1]
knn1

0.8166666666666667

In [ ]:
#KNN3
knn3 = predict_knn(X_train,X_test,y_train,y_test,k=3)[-1]
knn3

0.7583333333333333

In [ ]:
#KNN5
knn5 = predict_knn(X_train,X_test,y_train,y_test,k=5)[-1]
knn5

0.7083333333333334

In [ ]:
#KNN7
knn7 = predict_knn(X_train,X_test,y_train,y_test,k=7)[-1]
knn7

0.7

In [ ]:
#SVM POLY = 0.64

In [ ]:
#SVM RBF = 0.64

In [ ]:
#SVM SİGMOİD = 0.59

### Determine the best classifier and feature according to the results (k for KNN, kernel for SVM, etc.)
#### After this step, use this classifier with these properties.

### In this step, apply the PCA transform to your X DataFrame(features) and get the PCA_X DataFrame.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaled_X = scaler.transform(X)
scaled_X.shape

(400, 49)

In [ ]:
from sklearn.decomposition import PCA
x_pca = PCA(n_components = 10)
x_pca.fit(scaled_X)
B = x_pca.transform(scaled_X)
PCA_X = pd.DataFrame(B)
PCA_X

,0,1,2,3,4,5,6,7,8,9
0,-0.509335,-1.665200,1.052970,-0.834142,-0.720301,0.269614,0.512014,-1.029987,0.303570,-0.983410
1,-1.934068,0.925496,-0.877675,-0.230798,-0.255171,0.498230,-0.712411,0.634323,-0.461460,-1.793223
2,3.406564,-1.299099,1.699143,1.786905,-3.296343,-0.155142,-2.043084,0.946438,2.853577,1.584988
3,5.311629,2.372279,-4.253423,0.287397,0.078577,-2.750852,1.809945,2.061612,-1.257661,-2.576212
4,-0.978793,1.029744,0.139278,0.961064,-0.869664,-0.022718,-0.278939,-0.897337,1.453529,0.486110
5,1.532465,-1.306322,0.234797,-2.467883,0.193632,-1.533626,0.532396,0.560886,-2.080101,-0.192203
6,-0.783532,-0.834850,-0.948493,1.523917,0.284805,1.655630,0.909650,-0.457977,1.269581,-1.381019
7,2.373269,1.253723,3.043692,-2.416907,-2.670100,-1.006183,0.270701,1.550522,-4.048769,0.877734
8,4.323644,1.190425,-0.417001,2.999511,-1.524628,-2.056384,2.079060,-0.708169,-3.109434,0.612654
9,6.225880,1.559263,-2.839613,1.680780,-0.918769,-0.927794,1.344305,-3.976167,0.102309,0.349440
10,5.484549,1.085125,3.112074,3.693583,-3.937375,-1.962210,1.516177,-0.797636,-2.506023,0.247829
11,6.377756,2.156865,0.232852,-2.404252,-0.136458,-1.955688,3.454641,-1.374299,0.071203,-1.014623
12,6.568635,-0.720051,3.022376,-0.811900,3.379792,-3.234729,1.590076,0.863385,0.669144,1.438772
13,2.569815,-3.561315,-0.127645,-1.794023,4.594172,-0.770603,0.759265,0.751705,0.764984,0.212622
14,9.593966,2.156202,2.844018,1.576784,5.689957,-1.627112,-0.795101,1.893097,0.799540,-0.605043
15,2.367927,-1.390123,-3.234992,2.125381,-1.122482,0.643805,0.546843,-0.163679,-1.964585,1.513324
16,-1.267639,1.159118,-0.038752,0.204492,-0.647564,-0.106307,-0.416869,-0.685055,-0.654948,1.400236
17,-0.326893,-1.618553,-1.296791,-0.299288,1.060564,-1.239580,-0.545886,-0.890906,0.581751,-0.068921
18,1.751420,-2.751311,4.502688,0.956293,1.285587,2.603795,0.464086,2.490037,1.286252,1.334330
19,3.040321,1.855269,1.385827,1.959507,2.247958,0.387186,4.482481,0.158354,-0.842979,1.699553
20,7.818382,-0.462552,-2.534839,-1.593666,1.258309,1.131518,0.799294,-0.662395,-0.219856,3.493334
21,5.069894,-6.670420,-2.531720,3.696362,5.009293,7.745125,4.254562,-1.739714,-0.435294,-3.593834
22,2.423679,0.444528,-3.395313,2.415891,-1.647016,1.040592,-0.350347,1.681698,-1.131531,0.208791
23,-0.285478,-0.329880,-2.503148,1.401856,-0.843651,-1.313706,-1.153656,0.185165,1.849398,1.527196
24,3.087593,3.570567,-0.784036,-0.335012,1.684944,-0.001721,-4.483847,0.681924,-1.495303,-0.613712
25,0.927149,-2.481928,-1.504566,2.000576,-1.143861,-0.196208,-0.436490,0.293415,-0.256811,0.842406
26,1.328377,-2.306814,0.370804,-1.042276,0.108670,-1.841594,-0.994754,-0.833915,-0.223967,1.073765
27,5.142642,-1.121866,3.985001,-1.376329,1.464250,0.012252,3.169796,2.101764,-1.630334,-0.244600
28,0.009849,-1.176001,2.861560,-0.247417,-1.856155,1.686431,0.245846,1.395316,2.091771,-1.163161
29,2.609397,4.686846,0.848137,-0.870966,1.638432,2.552989,5.635403,-0.718283,1.012736,-0.230694
...,...,...,...,...,...,...,...,...,...,...
370,-3.180708,-0.094145,0.103768,0.096859,0.690795,-0.143193,-0.032481,-0.454489,-0.036630,-0.811777
371,-3.828901,0.867252,-0.127799,-0.068583,0.206740,0.092477,0.293550,1.266980,0.075451,0.782011
372,-3.325090,0.048421,0.434797,-0.003451,0.484338,-0.480431,-0.190057,-0.171935,0.121091,-0.866383
373,-2.894158,0.358716,0.226576,0.198230,0.093164,-0.138174,0.064481,0.639571,0.322739,0.748522
374,-3.226939,0.341589,0.476387,0.079734,0.102576,-0.015971,0.006076,0.660282,0.116185,0.995310
375,-3.060885,-0.110191,0.079595,0.143123,0.494376,-0.141903,-0.234682,-0.394304,-0.036490,-0.641812
376,-3.650062,0.670168,0.431821,-0.091417,0.224627,-0.331597,0.024740,0.810894,0.275398,0.836911
377,-2.994564,-0.158072,-0.092487,0.165961,0.538355,0.019689,0.031817,-0.310194,-0.174199,-0.578993
378,-2.944378,0.276159,0.287651,0.236453,0.135001,0.106578,0.300051,0.859795,0.225895,0.605886
379,-3.470216,0.424833,0.084899,0.057610,0.334397,0.294729,0.275275,0.682436,-0.098178,1.018236
380,-3.320136,-0.043181,0.060400,0.018043,0.766483,-0.056574,0.207124,-0.437602,-0.212345,-0.780993
381,-3.303252,0.371883,0.099473,0.142215,0.241853,0.229570,0.312177,0.899214,0.060271,0.893414
382,-3.889204,0.664472,0.176049,-0.075436,0.197072,0.315286,0.210093,0.923302,-0.175292,0.938398
383,-2.891791,0.107129,0.198657,0.283859,0.159735,0.372581,0.267048,0.747212,-0.007531,1.005891
384,-2.863541,0.001960,0.177943,0.126578,0.345550,-0.526152,-0.222886,-0.242717,0.237468,-0.856503
385,-3.353325,0.011131,0.278665,-0.001564,0.510596,-0.150277,-0.079076,-0.205229,-0.153448,-0.659413
386,-3.665064,0.649236,0.067927,-0.058033,0.202148,0.182809,0.244071,0.819305,-0.113888,0.968668
387,-3.693028,0.805161,-0.207465,-0.060656,0.134312,0.255842,0.183812,0.826369,-0.145142,0.983639
388,-3.434816,0.133531,0.160873,-0.065668,0.420310,-0.225021,-0.297955,-0.468339,-0.192657,-0.563533
389,-3.635820,0.657286,0.183318,-0.013009,0.053398,0.262252,0.094711,1.007276,-0.083466,0.909891
390,-3.348925,0.444495,0.077940,0.083942,0.249593,0.235015,0.232492,0.623232,-0.044959,0.927536
391,-3.678126,0.698814,-0.031605,-0.057897,0.083880,0.209862,0.125008,0.814730,-0.148271,1.087121
392,-3.012942,-0.124041,0.013266,0.113535,0.363487,0.129639,-0.136104,-0.344851,-0.342307,-0.420416
393,-3.390971,0.609455,0.020407,0.070484,0.159782,0.046670,0.247487,0.927338,0.137795,0.678924
394,-2.538367,-0.210802,-0.153856,0.319536,0.283724,0.053476,-0.201696,-0.397223,-0.064145,-0.705750
395,-3.004305,-0.088058,0.063552,0.107589,0.298798,0.075875,-0.176038,-0.199928,-0.301877,-0.390628
396,-3.970012,0.812063,0.194473,-0.160614,0.280884,-0.032485,0.148274,0.862275,0.029781,0.819827
397,-3.464728,0.276686,-0.447165,-0.023561,0.406645,0.236013,-0.060434,-0.277790,-0.471538,-0.513469
398,-3.595217,0.801898,-0.260088,0.031063,0.105198,0.272978,0.306910,1.052334,-0.005990,0.599829
399,-3.647079,0.545070,0.520407,-0.092964,0.154012,0.065937,0.095853,0.658481,-0.104597,0.989807

### Print which column carries how much information in the PCA transformation (explained variance ratio)

In [ ]:
print(x_pca.explained_variance_ratio_)

[0.21610929 0.06487124 0.05743857 0.04248826 0.04132972 0.04102259
 0.03645185 0.03440447 0.02990341 0.02949055]

### Select the first few columns to cover at least 90% of the information and create the X_necessary DataFrame.

In [ ]:
X_necessary = pd.DataFrame()
X_necessary[0] = PCA_X[0]
X_necessary[1] = PCA_X[1]
X_necessary[2] = PCA_X[2]
X_necessary[3] = PCA_X[3]
X_necessary[4] = PCA_X[4]
X_necessary.head(), X_necessary.shape

(          0         1         2         3         4
 0 -0.509335 -1.665200  1.052970 -0.834142 -0.720301
 1 -1.934068  0.925496 -0.877675 -0.230798 -0.255171
 2  3.406564 -1.299099  1.699143  1.786905 -3.296343
 3  5.311629  2.372279 -4.253423  0.287397  0.078577
 4 -0.978793  1.029744  0.139278  0.961064 -0.869664, (400, 5))

### Applying n-Fold Cross Validation (with shuffle) to X_necessary and y so that n=10
### Create the lists X_trains, X_tests, y_trains, y_tests.

In [ ]:
from sklearn.model_selection import StratifiedKFold
kf = StratifiedKFold(n_splits=10, random_state=None, shuffle=True)

In [ ]:
X_necessary = np.array(X_necessary)
y = np.array(y)
#y=y.reshape(1,-1)

for train_index, test_index in kf.split(X_necessary):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_trains, X_tests = X_necessary[train_index], X_necessary[test_index]
    y_trains, y_tests = y[train_index], y[test_index]


    #a = predict_knn(X_trains,X_tests,y_trains,y_tests)[-1]
    #print(a)

In [ ]:
y = np.array(y)
y=y.reshape(1,-1)
y,y.shape

(array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0]], dtype=int64), (1, 400))